# Node.js
node_modules/

# Build files
build/
dist/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log